In [1]:
import numpy as np
import pandas as pd


df=pd.read_csv('data.csv')
df.head()

,Date,Symbol,Series,OpenPrice,HighPrice,LowPrice,LastTradedPrice,ClosePrice,Total Traded Quantity,Turnover (in Lakhs)
0,13-Apr-20,LT,EQ,812.80,872.40,807.95,864.4,865.45,9462929,80158.97
1,09-Apr-20,LT,EQ,834.35,834.35,804.40,805.0,812.80,6410629,52338.49
2,08-Apr-20,LT,EQ,804.00,832.00,797.70,808.0,807.10,6151093,50037.53
3,07-Apr-20,LT,EQ,805.00,813.00,791.00,802.2,801.65,5769216,46404.57
4,03-Apr-20,LT,EQ,791.10,791.10,762.80,783.0,774.65,4268501,33009.75

In [2]:
print('Mean Median Mode For OpenPrice is:')
print('Mean is:',df['OpenPrice'].mean())
print('Median is:',df['OpenPrice'].median())
print('Mode is:')
print(df['OpenPrice'].mode())

Mean Median Mode For OpenPrice is:
Mean is: 837.1722222222222
Median is: 810.9
Mode is:
0      697.20
1      755.00
2      787.75
3      791.10
4      801.00
5      804.00
6      805.00
7      806.85
8      809.00
9      812.80
10     820.00
11     834.35
12     849.00
13     867.90
14     873.90
15     968.00
16     972.00
17    1014.25
dtype: float64

In [3]:
print('Mean Median Mode For LowPrice is:')
print('Mean is:',df['LowPrice'].mean())
print('Median is:',df['LowPrice'].median())
print('Mode is:')
print(df['LowPrice'].mode())

Mean Median Mode For LowPrice is:
Mean is: 799.3777777777777
Median is: 794.45
Mode is:
0    791.0
dtype: float64

In [4]:
print('Mean Median Mode For HighPrice is:')
print('Mean is:',df['HighPrice'].mean())
print('Median is:',df['HighPrice'].median())
print('Mode is:')
print(df['HighPrice'].mode())

Mean Median Mode For HighPrice is:
Mean is: 858.3222222222222
Median is: 833.175
Mode is:
0      755.75
1      775.00
2      791.10
3      809.95
4      812.40
5      813.00
6      815.00
7      823.00
8      832.00
9      834.35
10     842.30
11     872.40
12     877.80
13     884.00
14     890.00
15     974.75
16    1005.00
17    1042.00
dtype: float64

In [5]:
print('Mean Median Mode For LastTradedPrice is:')
print('Mean is:',df['LastTradedPrice '].mean())
print('Median is:',df['LastTradedPrice '].median())
print('Mode is:')
print(df['LastTradedPrice '].mode())

Mean Median Mode For LastTradedPrice is:
Mean is: 825.2527777777779
Median is: 809.05
Mode is:
0     710.00
1     721.00
2     769.00
3     775.55
4     783.00
5     799.00
6     802.20
7     805.00
8     808.00
9     810.10
10    839.00
11    841.00
12    842.30
13    852.00
14    864.40
15    912.00
16    953.00
17    968.00
dtype: float64